<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :message %><br>
    <%= f.text_field :message, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :time %><br>
    <%= f.datetime_select :time, options={ start_year: 2010, ampm: false, default: 0.days.from_now.in_time_zone(Time.zone)} %>
  </div>
  <div class="field form-group">
    <%= f.label :timezone %><br>
    <%= f.time_zone_select :timezone, nil, default: Time.zone.name, class: "form-control" %>
  </div>
  <div class="field form-group">
    <%= f.label :phone_number %><br>
    <%= f.text_field :phone_number, class: "form-control"%>
  </div>
  <div class="actions">
    <%= f.submit 'Save', class: "btn btn-primary"  %>
  </div>
<% end %>
